

body{
    width: 930px;
    height: 1380px;
    margin: 0;
    padding: 0;
}

#banner_sub{
 
    margin: 150px;
    text-align: center;
}

#card{
    text-align: center;
    margin: 10px;
    padding: 30px;
}

h3{
    font-size: 30px;
}