@import url(<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">);

body{
    
    font-family: 'Nanum Pen Script', cursive;
    position: relative;
    text-align: center;
    background-color: floralwhite;
    
    
}


#info{
    
    margin: 0 auto;
    width: 400px;
    height: auto;
    
   
}

/*
table.table{
    margin: 5000px 100px;
    width: 
    border-collapse: collapse;
    background-color: mediumaquamarine;
}
*/

edit_div{
    border: 1px;
    
}
#regform>table input{
    width:100%;
    padding: 5px;
    
}

#regform>table label{
    display: block;
}
#sub input[type=submit]{
    margin: 5px;
    width: 80px;
    height: 30px;
    background-color: #ccc;
    border: 1px solid ;
    border-radius:5px;
    font-family: 'Nanum Pen Script', cursive;
    

}

div.msg{
    color: red;
    display:none;
}

table.table{
     margin: 10px 40px;
    width: 80%;
    border-collapse: collapse;
}

table.table td,table.table th{
    padding: 10px;
    border:1px solid #aaa;
    background-color: #fff;
    
    text-align: center;
   
}

div.edit_div{
   
    background-color: beige;
    width: 320px;
    padding: 10px;
    
    border:1px
    solid #aaa;
    border-radius:20px;
    
    box-shadow: 5px 5px 10px #ddd;
    
    position: fixed;
    
    top:50px; 
    left: 100px;
    display: none;
    /*margin: 0 auto;*/
    
    
    
}


div.edit_div>div.edit_for_header{
    overflow:hidden;
    padding: 5px;
    
}

div.edit_div>div.edit_for_header>h2{
    float:left;
}

div.edit_div>div.edit_for_header>a{
    float:right;
}

#editform{
    margin:10px;
    
}

#editfor>table{
    width:100%
}

#editform>table td{
    padding: 5px;
    text-align: center;
}

#editform input[type=submit]{
    background-color: azure;
    padding: 10px;
    width:50%;
    font-size: 1.2em;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    color: dimgrey;
    border-radius:5px;
    border: 1px solid dimgrey;
    
   /* display: none;*/
}

.modal {
    margin: 300px auto;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50;
    top: 0;
    overflow: hidden;

    border: 3px solid black;
    border-radius: 90px;


}
